
.form{
    width:300px;
    margin:auto; 
    background:rgba(255,50,40,0.1); 
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top:80px;
    text-align: center;
}
.form h4{
    display:inline;
    margin-left: 20px;
}
.dash{
    width:50%;
    margin:auto;
    background:rgba(255,50,40,0.1); 
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top:80px;
    padding:20px;
    text-align: center;
}